- flash.each do |key, value|
  - if value == notice
    = content_tag(:div, value, class: "alert alert--state_success")
  - if value == alert
    = content_tag(:div, value, class: "alert alert--state_danger")
