.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand(href="/")
      = image_tag("logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px")
    .navbar-collapse.collapse.navbar-responsive-collapse
      //not login
      %ul.nav.navbar-nav.navbar-right
        %li
          .btn.btn-primary.navbar-btn
            %a{href: "/login"}
              Get Started
      //login
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button"}
            UserName
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Profile Edit
            %li
              %a{href: "#"} Logout
        %li
          .btn.btn-primary.navbar-btn
            %a{href: "/proto/new"}
              New Proto
